@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

/* ---------------------------- */

/* ---------------------------- */

/* ---------SCROLL BAR--------- */

/* ---------------------------- */

/* ---------------------------- */

::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #83abb8;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #fff;
}

/* ---------------------------- */

/* ---------------------------- */

/* ---------------------------- */

/* ---------------------------- */

/* ---------------------------- */

.title {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 136.363636%;
  color: #21243D;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #fff;
  color: #02283F;
  font-family: "Heebo";
}

html._lock,
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

.__container {
  padding: 0 10px;
  max-width: 867px;
  margin: 0 auto;
}

.header__container {
  max-width: 1032px;
  margin: 0 auto;
  position: relative;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
}

.menu__item {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 145%;
}

.menu__item:not(:last-child) {
  margin-right: 33px;
}

.menu__link {
  color: #000000;
  transition: all 0.4s ease 0s;
}

.menu__link._active {
  color: #FF6464;
}

.menu__icon {
  z-index: 5;
  position: relative;
  width: 40px;
  height: 28px;
  cursor: pointer;
  display: none;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #000;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.menu__icon._active span {
  transform: scale(0) translate(0px, -50%);
}

.menu__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.front__container {
  padding: 150px 24px 70px 24px;
  display: flex;
}

.front__body {
  flex: 1 1 auto;
  padding: 0px 115px 0px 0px;
}

.front__title {
  margin: 0px 0px 40px 0px;
}

.front__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #21243D;
  margin: 0px 0px 38px 0px;
}

.front__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  padding: 0px 22px 0px 22px;
  background: #FF6464;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 145%;
  transition: all 0.4s ease 0s;
}

.front__avatar {
  flex: 0 0 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  box-shadow: -10px 10px 0px #edf7fa;
}

.front__avatar img {
  max-width: 100%;
}

.recents {
  background-color: #EDF7FA;
}

.recents__container {
  padding: 25px 10px 30px 10px;
}

.recents__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

.recents__title {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 172.727273%;
  color: #21243D;
}

.recents__viewall a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #00A8CC;
}

.recents__content {
  display: flex;
  gap: 20px;
}

.recents__content-item {
  flex: 0 1 50%;
}

.item-content {
  padding: 20px;
  background-color: #fff;
}

.item-content_text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #21243D;
}

.item-content__title {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 146.153846%;
  color: #21243D;
  margin: 0px 0px 20px 0px;
  transition: color 0.4s ease 0s;
}

.item-content__info {
  margin: 0px 0px 20px 0px;
}

.item-content__info span {
  display: inline-block;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 144.444444%;
  color: #21243D;
  padding: 0px 30px 0px 0px;
}

.item-content__info span:not(:last-child) {
  border-right: 1px solid black;
}

.item-content__info span:not(:first-child) {
  padding: 0px 0px 0px 30px;
}

.featuredworks__container {
  padding: 15px 15px 83px 15px;
}

.featuredworks__title {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 272.727273%;
  color: #21243D;
  transition: all 0.4s ease 0s;
}

.item-featuredworks {
  display: flex;
  padding: 25px 0;
  align-items: flex-start;
  border-bottom: 1px solid #E0E0E0;
}

.item-featuredworks__img {
  flex: 0 0 246px;
  min-height: 180px;
  border-radius: 6px;
  width: 100%;
}

.item-featuredworks__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-featuredworks__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 146.666667%;
  color: #21243D;
  margin: 0px 0px 16px 0px;
  transition: color 0.4s ease 0s;
}

.item-featuredworks__info {
  margin: 0px 0px 17px 0px;
}

.item-featuredworks__info span {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 145%;
  color: #8695A4;
  padding: 0px 0px 0px 26px;
}

.item-featuredworks__year {
  display: inline-flex;
  background: #142850;
  border-radius: 16px;
  height: 25px;
  padding: 0 10px;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.125rem;
  color: #FFFFFF;
}

.item-featuredworks__text {
  font-size: 1rem;
  line-height: 150%;
  color: #21243D;
}

.blog__container {
  padding: 150px 18px 70px 18px;
}

.blog__title {
  margin: 0px 0px 25px 0px;
}

.blog-item {
  padding: 30px 0px;
  border-bottom: 1px solid #E0E0E0;
}

.blog-item_text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #21243D;
}

.blog-item__title {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 146.153846%;
  color: #21243D;
  margin: 0px 0px 20px 0px;
}

.blog-item__info {
  margin: 0px 0px 20px 0px;
}

.blog-item__info span {
  display: inline-block;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 144.444444%;
  color: #21243D;
  padding: 0px 30px 0px 0px;
}

.blog-item__info span:not(:last-child) {
  border-right: 1px solid black;
}

.blog-item__info span:not(:first-child) {
  padding: 0px 0px 0px 30px;
}

.works__container {
  padding: 150px 18px 70px 18px;
}

.works__title {
  font-weight: 900;
  margin: 0px 0px 25px 0px;
}

.workdetails__container {
  padding: 150px 18px 70px 18px;
}

.workdetails__title {
  margin: 0px 0px 40px 0px;
}

.workdetails__info {
  display: flex;
  align-items: center;
  margin: 0px 0px 35px 0px;
}

.workdetails__year {
  display: inline-flex;
  height: 25px;
  padding: 0px 10px 0px 10px;
  background: #FF7C7C;
  border-radius: 16px;
  font-weight: 900;
  font-size: 1.125rem;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

.workdetails__category {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 145%;
  color: #21243D;
}

.workdetails__category:not(:first-child) {
  margin-left: 20px;
}

.workdetails__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #000000;
  margin: 0px 0px 46px 0px;
}

.workdetails__image {
  width: 100%;
}

.workdetails__image img {
  max-width: 100%;
}

.workdetails__first-title {
  margin: 60px 0px 20px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.875rem;
  color: #21243D;
}

.workdetails__second-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: #21243D;
  margin: 0px 0px 25px 0px;
}

.footer__container {
  height: 183px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__social {
  display: flex;
  gap: 35px;
  margin: 0px 0px 26px 0px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  color: #21243D;
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #FF6464;
  }

  .front__btn:hover {
    background-color: #e42b2b;
  }

  .recents__viewall a:hover {
    text-decoration: underline;
  }

  .item-content__title:hover {
    color: #FF6464;
  }

  .item-featuredworks__title:hover {
    color: #FF6464;
    cursor: pointer;
  }
}

@media (max-width: 991.98px) {
  .__container {
    max-width: 750px;
  }
}

@media (max-width: 869px) {
  .__container {
    max-width: 970px;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 2rem;
  }

  .__container {
    max-width: none;
  }

  .menu__icon {
    display: block;
  }

  .menu {
    position: fixed;
    top: -100%;
    right: 0;
    background-color: #fff;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 120px 30px 30px 30px;
    transition: top 0.3s ease 0s;
    overflow: auto;
    z-index: 5;
  }

  .menu .menu__list {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  .menu .menu__list .menu__item {
    margin: 20px 0px 0px 0px;
    font-size: 35px;
  }

  .menu._active {
    top: 0;
  }

  .front__container {
    padding: 33px 24px 70px 24px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .front__body {
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .front__title {
    text-align: center;
  }

  .front__text {
    text-align: center;
  }

  .front__avatar {
    flex: 0 0 170px;
    width: 170px;
    height: 170px;
    margin: 0px 0px 34px 0px;
  }

  .recents__head {
    justify-content: center;
  }

  .recents__title {
    font-size: 1.125rem;
  }

  .recents__viewall a {
    display: none;
  }

  .recents__content {
    flex-direction: column;
  }

  .item-content__title {
    font-size: 1.375rem;
  }

  .item-content__info span {
    font-size: 1rem;
    padding: 0px 20px 0px 0px;
  }

  .item-content__info span:not(:first-child) {
    padding: 0px 0px 0px 20px;
  }

  .item-featuredworks {
    flex-direction: column;
    align-items: center;
    gap: 17px;
    padding: 15px 0;
  }

  .item-featuredworks__img {
    padding: 0px 0px 60% 0px;
  }

  .item-featuredworks__body {
    padding: 0px 0px 0px 0px;
  }

  .item-featuredworks__title {
    font-size: 1.5rem;
  }

  .blog__container {
    padding: 34px 18px 70px 18px;
  }

  .blog-item__title {
    font-size: 1.375rem;
  }

  .blog-item__info span {
    font-size: 1rem;
    padding: 0px 20px 0px 0px;
  }

  .blog-item__info span:not(:first-child) {
    padding: 0px 0px 0px 20px;
  }

  .works__container {
    padding: 34px 18px 70px 18px;
  }

  .workdetails__container {
    padding: 34px 18px 70px 18px;
  }

  .workdetails__category {
    font-size: 1.125rem;
  }

  .workdetails__first-title {
    font-size: 1.625rem;
  }

  .workdetails__second-title {
    font-size: 1.25rem;
  }

  .footer__container {
    height: 150px;
  }
}